
<template>
    <div class="layout">
        <Sider :style="{position: 'fixed', height: '100vh', left: 0, overflow: 'auto'}" collapsible :collapsed-width="78" v-model="isCollapsed">
            <Menu :active-name="$route.name" theme="dark" width="auto" :open-names="['1']"  @on-select="changepath">
                <Submenu name="1">
                    <template slot="title">
                        <Icon type="ios-navigate"></Icon>
                        頁面切換
                    </template>
                    <MenuItem v-for="it in lidata" :key="it.name" :name="it.name">{{it.title}}</MenuItem>
                   
                </Submenu>
        
            </Menu>
        </Sider>
        <Layout :style="{marginLeft: '200px'}">
            <Header :style="{background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)'}">
                <h3 class="add ad" >測試頁面</h3>
            </Header>
            <Content :style="{padding: '0 16px 16px',height:'1000px'}">
              <router-view></router-view>
            </Content>
        </Layout>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

export default class Main extends Vue{
    lidata =  [
                {
                    title: 'li1',
                    name:'Theli1'
                },
                {
                    title: 'li2',
                    name:'Theli2'
                },
                {
                    title: 'li2',
                    name:'Theli3'
                }
            ]
    changepath(name){
        //this.$router.push(name)
        console.log(name);
     }
}
</script>

<style  lang="scss">

.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-header-bar{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
</style>
