<template>
 <Card class="Thecard">
        <p slot="title">
            {{thedata.name}}
        </p>
       
        <ul>
            <li>age:<span>{{thedata.age}}</span> </li>
            <li>address:<span>{{thedata.address}}</span> </li>
            <li>date:<span>{{thedata.date}}</span> </li>
        </ul>
    </Card>
</template>
<script>
    export default {
        props:{
            thedata: {
                type: Object,
            }
        },
    }
</script>
