<template>
    <Row>
       <Col span="24" >
         <Input v-model="form.EmpID" size="large"  style="width: 300px" placeholder="large size"></Input>
         <Input v-model="form.Name" size="large" style="width: 300px" placeholder="large size"></Input>
         <Input v-model="form.EmpCode" size="large" style="width: 300px" placeholder="large size"></Input>
         <Input v-model="form.Salary" size="large" style="width: 300px" placeholder="large size"></Input>
        <br>
        <Button @click.prevent="pst">送出</Button>
       </Col>
       <Col span="6" v-for="(thedata, index) in tableData1" :key="'card1'+index">
            <Card class="Thecard">
                <p slot="title">
                    {{thedata.EmpID}}
                </p>
                 <a href="#" slot="extra" @click.prevent="del(thedata.EmpID)">
                   <Icon type="close"></Icon>
                </a>        
                <ul>
                    <li>Name:<span>{{thedata.Name}}</span> </li>
                    <li>EmpCode:<span>{{thedata.EmpCode}}</span> </li>
                    <li>Salary:<span>{{thedata.Salary}}</span> </li>
                </ul>
            </Card>
        </Col>
    </Row>
</template>

<script>
import { Getauto , TheDelete, ThePost } from '@/services/api'
export default {
    components:{
        //'TheCard' : () => import('./TheCard')
    },
    data () {
        return {
            tableData1: [],
            form:{
                EmpID: 0,
                Name: "",
                EmpCode: "",
                Salary: 0
            }
        }
    },
    created(){
        this.theapi()
    },
    methods:{
        async theapi() {
            this.tableData1 = await Getauto('/employess')
        },
        async del(id){
           const res = await TheDelete('/employess/' + id,)
           if(res)
            this.theapi()
        },
        async pst(){
            const res = await ThePost('/employess', this.form)
            this.theapi()
        }
    }
}
</script>
<style lang="scss">
.Thecard{
    margin: 8px;
    .ivu-card-body ul li {
        list-style: none;
        span{
            float: right;
        }
    }
}
</style>

