<template>
    <Row>
        <Col :xs="12" :sm="8" :lg="6" v-for="(it, index) in tableData1" :key="'card1'+index">
            <TheCard :thedata="it"></TheCard>
        </Col>
    </Row>
</template>

<script>
export default {
    components:{
        'TheCard' : () => import('./TheCard')
    },
    data () {
        return {
            tableData1: [
                {
                    name: 'Name',
                    age: 25,
                    address: 'New York No. 1 Lake Park',
                    date: '2017-07-08'
                },
                {
                    name: 'Name2',
                    age: 18,
                    address: 'London No. 1 Lake Park',
                    date: '2017-07-09'
                },
                {
                    name: 'Name3',
                    age: 20,
                    address: 'Sydney No. 1 Lake Park',
                    date: '2017-07-10'
                },
                {
                    name: 'Name4',
                    age: 15,
                    address: 'Ottawa No. 2 Lake Park',
                    date: '2017-07-11'
                },
                {
                    name: 'Name5',
                    age: 19,
                    address: 'New York No. 1 Lake Park',
                    date: '2017-07-12'
                },
                {
                    name: 'Name6',
                    age: 34,
                    address: 'London No. 1 Lake Park',
                    date: '2017-07-13'
                },
                {
                    name: 'Name7',
                    age: 50,
                    address: 'Sydney No. 1 Lake Park',
                    date: '2017-07-14'
                },
                {
                    name: 'Name',
                    age: 26,
                    address: 'Ottawa No. 2 Lake Park',
                    date: '2018-12-01'
                }
            ],
        }
    },
}
</script>

<style>

</style>
